# 부록 A. 파이썬 연산자 우선순위 표

In [1]:
print(None and 100)
print(None or 100)
print(not(''))

None
100
True

# 부록 B. 내장 파이썬 함수

## B.1.1 abs(x)

In [2]:
c = 3+4j
abs(c)

5.0

## B.1.2 all(iterable)

In [3]:
all([1, 2, 4])

True

In [4]:
all([1, 2, 0])

False

## B.1.3 any(iterable)

In [5]:
any([0, 2, 0])

True

In [6]:
any([0, 0, 0])

False

## B.1.5 bin(n)

In [7]:
bin(7)

'0b111'

## B.1.6 bool(obj)

In [8]:
class Blah():
    pass

In [9]:
b = Blah()
b.egg = 0
bool(b)

True

In [10]:
bool(b.egg)

False

## B.1.7 bytes(source, encoding)

In [11]:
bs = bytes('Hi there!', encoding='utf-8')
bs

b'Hi there!'

## B.1.9 chr(n)

In [12]:
chr(97)

'a'

## B.1.10 compile(cmd_str, filename, mode_str, flags=0, dont_inherit=False, optimize=-1)

In [13]:
command_str = '''
pi = 3.141592
print('pi/2 = ', pi/2)
'''

In [14]:
cmd = compile(command_str, 'my_mod', 'exec')

In [15]:
exec(cmd)

pi/2 =  1.570796

## B.1.11 complex(real=0, imag=0)

In [16]:
complex()

0j

In [17]:
complex(5.5)

(5.5+0j)

In [18]:
complex(3, -2.1)

(3-2.1j)

In [19]:
complex(10-3.5j)

(10-3.5j)

In [20]:
complex(1, 5j)

(-4+0j)

## B.1.12 complex(complex_str)

In [21]:
complex('10.2+5j')

(10.2+5j)

In [22]:
complex('(10.2+5j)')

(10.2+5j)

In [23]:
complex('2')

(2+0j)

In [24]:
complex('3j')

3j

In [25]:
complex('1+j')

(1+1j)

## B.1.13 delattr(obj, name_str)

```python
my_dog.breed = 'St Bernard'
...
a_str = 'breed'
delattr(my_dog, a_str)
```

## B.1.14 dir([obj])

In [26]:
dir()    # 모듈의 속성들을 보여준다

['Blah',
 'In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_3',
 '_4',
 '_5',
 '_6',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'b',
 'bs',
 'c',
 'cmd',
 'command_str',
 'exit',
 'get_ipython',
 'pi',
 'quit']

In [27]:
def demo():
    i = 1
    j = 2
    print(dir())

In [28]:
demo()

['i', 'j']

In [29]:
print(demo())

['i', 'j']
None

In [31]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

## B.1.15 divmod(a, b)

In [32]:
quot, rem = divmod(203, 10)    # 결과는 20, 나머지는 3

In [33]:
divmod(10.6, 0.5)

(21.0, 0.09999999999999964)

## B.1.16 enumerate(iterable, start=0)

In [34]:
beat_list = ['John', 'Paul', 'George', 'Ringo']
for n, item in enumerate(beat_list, 1):
    print('%s. %s' % (n, item))

1. John
2. Paul
3. George
4. Ringo

## B.1.17 eval(expr_str [, globals [, locals]])

In [1]:
a = 100
eval('3 * a + 55')

355

In [6]:
eval('3 * a + 55', {})  # 에러 a가 정의되지 않음

NameError: name 'a' is not defined

In [7]:
eval('3 * 100 + 55', {})

355

In [8]:
from math import *
a = 25
dict_1 = {'tan': tan, 'radians': radians, 'a': a}
eval('1000 * tan(radians(a))', dict_1)

466.3076581549986

In [10]:
eval('a * a + 100', {}, locals())

725

# B.1.19 filter(function, iterable)

In [11]:
def is_neg(x):
    return x < 0

my_list = [10, -1, 20, -3, -2.5, 30]
print(list(filter(is_neg, my_list)))

[-1, -3, -2.5]

## B.1.20 float([x])

In [12]:
n = 1
yyy = float(n)        # yyy에 1.0 대입
amt = float('-23E01') # amt에 -23E01 대입

In [13]:
amt = float()         # amt에 0.0 대입

## B.1.21 format(obj, [format_spec])

In [15]:
format(1000000, ',')

'1,000,000'

## B.1.22 frozenset([iterable])

In [16]:
frozenset((1, 2, 2, 3, 3, 4, 1))

frozenset({1, 2, 3, 4})

## B.1.23 getattr(obj, name_str [,default])

```python
d = Dog()
d.breed = 'Bulldog'
attr_name = 'breed'
getattr(d, attr_name)     # ---> 'Bulldog'
```

## B.1.25 hasattr(obj, name_str)

```python
my_dog.breed = 'Husky'
nm = 'breed'
hasattr(my_dog, nm)   # ---> True
```

## B.1.28 hex(n)

In [17]:
hex(23)

'0x17'

# B.1.30 input([prompt_str])

In [1]:
my_name = input('이름을 입력하세요 ')
my_age = int(input('나이를 입력하세요 '))

이름을 입력하세요 이름
나이를 입력하세요 23

## B.1.31 int(x, base=10)

In [3]:
int('1000', 16)

4096

In [4]:
int(3.99), int(-3.99)

(3, -3)

## B.1.34 issubclass(class1, class2)

In [5]:
class Floopy(int):
    pass

In [7]:
f = Floopy()
issubclass(Floopy, int)

True

In [8]:
issubclass(int, Floopy)

False

In [9]:
issubclass(int, int)

True

In [10]:
issubclass(f, int)   # TypeError: f는 클래스가 아니다

TypeError: issubclass() arg 1 must be a class

## B.1.35 iter(obj)

In [11]:
gen = iter(5)  # TypeError 발생

TypeError: 'int' object is not iterable

In [13]:
gen = iter([5])

In [14]:
gen = iter([1, 2, 3])
next(gen)

1

In [15]:
next(gen)

2

In [16]:
next(gen)

3

In [17]:
next(gen) # StopIteration 예외 발생

StopIteration:

## B.1.36 len(sequence)

In [18]:
len('Hello')

5

## B.1.37 list([iterable])

In [19]:
print(list('cat'))

['c', 'a', 't']

In [20]:
new_list = list()   # new_list를 빈 리스트로 초기화
new_list

[]

## B.1.38 locals()

In [21]:
def foobar():
    a = 2
    b = 3
    c = 1
    print(locals())

foobar()

{'a': 2, 'b': 3, 'c': 1}

## B.1.39 map(function, iterable1 [, iterable2 ...])

In [22]:
def multy(a, b, c):
    return a * b * c

m = map(multy, [1, 20], [1, 20], [1, 50])
print(list(m))

[1, 20000]

## B.1.40 max(arg1 [, arg2], ...)

In [23]:
max(1, 3.0, -100, 5.25)

5.25

## B.1.41 max(iterable)

In [24]:
from fractions import Fraction
a_list = [1, Fraction('5/2'), 2.1]
max(a_list)

Fraction(5, 2)

## B.1.42 min(arg1 [, arg2], ...)

In [25]:
min(1, 3.0, -100, 5.25)

-100

## B.1.43 min(iterable)

In [26]:
from fractions import Fraction
a_list = [1, Fraction('5/2'), 2.1]
min(a_list)

1

## B.1.44 oct(n)

In [27]:
oct(9)

'0o11'

## B.1.45 open(file_name_str, mode='rt')

In [29]:
f = open('mydata.tat', 'wb')

## B.1.46 ord(char_str)

In [30]:
chr(ord('a'))

'a'

## B.1.47 pow(x, y [,z])

In [31]:
pow(2, 4)

16

In [32]:
pow(2, 4, 10)

6

In [33]:
pow(1.1, 100)

13780.61233982238

## B.1.48 print(objects, sep=' ', end='\n', file=sys.stdout)

In [34]:
s1 = 'eenie'
s2 = 'meenie'
s3 = 'Moe'
print(s1, s2, s3, sep='; ')

eenie; meenie; Moe

## B.1.49 range(n)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

## B.1.50 range(start, stop [, step])

In [38]:
list(range(1, 7, 2))

[1, 3, 5]

In [39]:
list(range(5, 1, -1))

[5, 4, 3, 2]

## B.1.51 repr(obj)

In [40]:
my_str = "'Hi, I'm Brian!"
print(repr(my_str))

"'Hi, I'm Brian!"

In [41]:
my_str

"'Hi, I'm Brian!"

## B.1.52 reversed(iterable)

In [42]:
print(list(reversed([1, 2, 3])))

[3, 2, 1]

In [43]:
str(reversed('Wow, Bob, wow!'))

'<reversed object at 0x00000215074F7688>'

In [44]:
'Wow, Bob, wow!'[::-1]

'!wow ,boB ,woW'

## B.1.53 round(x [, ndigits])

In [45]:
round(12.555, 1)

12.6

In [46]:
round(12.555, 2)

12.55

In [47]:
round(12.555, 0)

13.0

In [48]:
round(12.555)

13

In [49]:
round(12.555, -1)

10.0

In [50]:
round(-55.55)

-56

## B.1.54 set([iterable])

In [51]:
empty_set = set()

In [52]:
my_list = [11, 11, 3, 5, 3, 3, 3]
my_set = set(my_list)
my_set

{3, 5, 11}

## B.1.55 setattr(obj, name_str, value)

```python
d = Dog()
d.breed = 'Dane'
```

```python
attr_str = 'breed'
...
setattr(d, attr_str, 'Dane')  # d.breed = 'Dane' 설정
```

## B.1.56 sorted(iterable [, key] [, reverse])

In [53]:
sorted([5, 0, 10, 7])

[0, 5, 7, 10]

## B.1.57 str(obj=' ')

In [54]:
n = 10100140
s = str(n)
s.count('0')

4

## B.1.58 str(obj=b' ' [, encoding='utf-8']

In [55]:
bs = b'Hello!'   # 정확하게 6바이트를 보장한다.
s = str(bs, encoding='utf-8')
print(s)         # 일반 문자열 출력, 문자당 ? 바이트

Hello!

## B.1.59 sum(iterable [, start])

In [56]:
def get_avg(a_list):
    return sum(a_list)/len(a_list)

get_avg([1, 2, 3, 4, 10])

4.0

In [57]:
def gen_count(n):
    i = 1
    while i <= n:
        yield i
        i += 1
        
sum(gen_count(100))

5050

## B.1.62 type(obj)

In [58]:
i = 5
type(i) is int

True

In [59]:
type(i) == int

True

## B.1.63 zip(*iterables)

In [61]:
a = [1, 2, 3]
b = [10, 20, 30]
c = [i[0] + i[1] for i in zip(a, b)]
c

[11, 22, 33]

In [62]:
a_list = list(zip(a, b))
a_list

[(1, 10), (2, 20), (3, 30)]

In [64]:
c = []
for i in range(min(len(a), len(b))):
    c.append(a[i] + b[i])

c

[11, 22, 33]

# 부록 C. 세트 메서드

## C.1.1 set_obj.add(obj)

In [1]:
a_set = {1, 2, 3}
a_set.add(4)      # 세트에 4를 추가한다.

## C.1.2 set_obj.clear()

In [2]:
a_set.clear()

## C.1.3 set_obj.copy()

In [3]:
a_set = {1, 2, 3}
b_set = a_set.copy()

## C.1.4 set_obj.difference(other_set)

In [4]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
c = a_set.difference(b_set)
print(c)
print(b_set.difference(a_set))

{1, 2}
{5, 6}

In [5]:
print(a_set - b_set)

{1, 2}

## C.1.5 set_obj.difference_update(other_set)

In [7]:
a_set -= b_set
a_set

{1, 2}

## C.1.6 set_obj.discard(obj)

In [8]:
a_set = {'Moe', 'Larry', 'Curly'}
a_set.discard('Curly')
print(a_set)

{'Moe', 'Larry'}

## C.1.7 set_obj.intersection(other_set)

In [9]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.intersection(b_set))

{3, 4}

In [10]:
print(a_set & b_set)

{3, 4}

## C.1.8 set_obj.intersection_update(other_set)

In [11]:
a_set &= b_set
a_set

{3, 4}

## C.1.10 set_obj.issubset(other_set)

In [12]:
{1, 2}.issubset({1, 2, 3})

True

In [13]:
{1, 2}.issubset({1, 2})

True

## C.1.11 set_obj.issuperset(other_set)

In [15]:
{1, 2}.issuperset({1})

True

In [16]:
{1, 2}.issuperset({1, 2})

True

## C.1.12 set_obj.pop()

In [17]:
a_set = {'Moe', 'Larry', 'Curly'}
stooge = a_set.pop()
print(stooge, a_set)

Moe {'Larry', 'Curly'}

## C.1.14 set_obj.symmetric_difference(other_set)

In [19]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.symmetric_difference(b_set))

{1, 2, 5, 6}

In [20]:
print(a_set ^ b_set)

{1, 2, 5, 6}

## C.1.15 set_obj.symmetric_difference_update(other_set)

In [22]:
a_set ^= b_set
a_set

{1, 2, 3, 4}

## C.1.16 set_obj.union(other_set)

In [23]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.union(b_set))

{1, 2, 3, 4, 5, 6}

In [24]:
print(a_set | b_set)

{1, 2, 3, 4, 5, 6}

## C.1.17 set_obj.union_update(other_set)

In [25]:
a_set |= b_set
a_set

{1, 2, 3, 4, 5, 6}

In [26]:
a_set = {1, 2, 3}
a_set |= {200, 300}
print(a_set)

{1, 2, 3, 200, 300}

# 부록 D. 딕셔너리 메서드

## D.1.1 dict_obj.clear()

In [35]:
a_dict = {}
a_dict.clear()

## D.1.2 dict_obj.copy()

In [36]:
a_dict = {'pi': 3.14159, 'e': 2.71828}
b_dict = a_dict.copy()

## D.1.3 dict_obj.get(key_obj, default_val=None)

In [37]:
my_dict = {}
v = my_dict.get('Brian0')
if v:
    print('Value is: ', v)
else:
    print('Brian0 not found.')

Brian0 not found.

In [38]:
s = 'I am what I am and that is all that I am'
wrd_list = s.split()
hist_dict = {}

for wrd in wrd_list:
    hist_dict[wrd] = hist_dict.get(wrd, 0) + 1
print(hist_dict)

{'I': 3, 'am': 3, 'what': 1, 'and': 1, 'that': 2, 'is': 1, 'all': 1}

## D.1.4 dict_obj.items()

In [39]:
grades = {'Moe':1.5, 'Larry':1.0, 'BillG':4.0}
print(grades.items())

dict_items([('Moe', 1.5), ('Larry', 1.0), ('BillG', 4.0)])

## D.1.5 dict_obj.keys()

In [40]:
grades = {'Moe':1.5, 'Larry':1.0, 'BillG':4.0}
print(grades.keys())

dict_keys(['Moe', 'Larry', 'BillG'])

## D.1.6 dict_obj.pop(key [, default_value])

In [43]:
grades = {'Moe':1.5, 'Larry':1.0, 'BillG':4.0}
print(grades.pop('BillG', None))
print(grades)

4.0
{'Moe': 1.5, 'Larry': 1.0}

## D.1.7 dict_obj.popitem()

In [44]:
grades = {'Moe':1.5, 'Larry':1.0, 'BillG':4.0}
print(grades.popitem())
print(grades)

('BillG', 4.0)
{'Moe': 1.5, 'Larry': 1.0}

## D.1.8 dict_obj.setdefault(key, default_value=None)

In [45]:
print(grades.setdefault('Stephen Hawking', 4.0))

4.0

## D.1.9 dict_obj.values()

In [46]:
grades = {'Moe':1.5, 'Larry':1.0, 'Curly':1.0, 'BillG':4.0}
print(grades.values())

dict_values([1.5, 1.0, 1.0, 4.0])

## D.1.10 dict_obj.update(sequence)

In [47]:
grades1 = {'Moe':1.0, 'Curly':1.0}
grades2 = {'BillG':4.0}
grades3 = [('Brian0', 3.9), ('SillySue', 2.0)]
grades1.update(grades2)
grades1.update(grades3)
print(grades1)

{'Moe': 1.0, 'Curly': 1.0, 'BillG': 4.0, 'Brian0': 3.9, 'SillySue': 2.0}

# 부록 E. 문법 참고 자료

## E.1 변수와 대입

In [1]:
a = 5.5
b = 5.5 * 100

x = y = z = 0          # x, y, z에 같은 값을 대입
var1 = var2 = 1000 / 3 # var1, var2에 같은 값을 대입

In [2]:
def main():
    a, b = 100, 200
    print(locals())
    
main()

{'a': 100, 'b': 200}

## E.2 파이썬의 빈칸 이슈

In [3]:
a, b = 1, 100
if a < b:
    print('a is less than b')
    print('a < b')
else:
    print('a not less than b')

a is less than b
a < b

In [5]:
a, b = 1, 100
if a < b:
    print('a is less than b')
    print('a < b')
  else:                       # 에러!
    print('a not less than b')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [6]:
a, b = 1, 100
if a < b:
    print('a is less than b')
    print('a < b')
else:
        print('a not less than b')

a is less than b
a < b

In [7]:
a = 1; b = 100; a += b; print(a)

101

# E.3 알파벳 순서의 문법 참고 자료

## E.3.1 assert 문

In [8]:
def set_list_vals(list_arg):
    assert isinstance(list_arg, list), 'arg must be a list'
    assert len(list_arg) >= 3, 'list argument too short'
    list_arg[0] = 100
    list_arg[1] = 200
    list_arg[2] = 150

## E.3.2 break 문

In [10]:
total = 0.0
while True:
    s = input('Enter number: ')
    if not s:         # 빈 문자열이 들어오면 탈출한다.
        break
    total += float(s) # s가 빈 문자열이 아닐 때만 실행된다.
print(total)

Enter number: 3
Enter number: 2
Enter number: 1
Enter number:
6.0

## E.3.3 class 문

In [11]:
class Dog:
    pass

In [12]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [13]:
my_pt = Point(10, 20)  # my_pt.x = 10, my_pt.y = 20

In [14]:
class foo:
    x = y = 0   # 클래스 변수
    
    @classmethod
    def set_xy(cls, n, m):
        cls.x = n
        cls.y = m
    
    @staticmethod
    def bar():
        return 100
    
foo.set_xy(10, 20)
foo.x, foo.y

(10, 20)

In [15]:
foo.bar()

100

## E.3.4 continue 문

In [17]:
for let in 'You moved Dover!':
    if let == 'D' or let == 'd':
        continue
    print(let, end='')

You move over!

## E.3.5 def 문

In [19]:
def hypotenuse(side1, side2):
    total = side1 * side1 + side2 * side2
    return total ** 0.5    # total의 제곱근 반환

In [21]:
def floopy():
    return 100

print(floopy())
print(hypotenuse(3, 5))

100
5.830951894845301

## E.3.6 del 문

In [22]:
a_list = [1, 2, 3]
b_list = a_list      # 리스트의 별칭(alias)을 만든다
del a_list          # 심벌 테이블에서 a_list 제거
print(b_list)       # 리스트 참조는 여전히 존재

[1, 2, 3]

## E.3.10 for 문

In [24]:
# 비틀즈 멤버를 분리된 줄에 출력한다.
beat_list = ['John', 'Paul', 'George', 'Ringo']

for guy in beat_list:
    print(guy)
    
# 1 * 2 * ... n을 계산하는 함수 정의

def factorial(n):
    prod = 1
    for n in range(1, n + 1):
        prod *= n
    return(prod)

John
Paul
George
Ringo

## E.3.11 global 문

In [25]:
account = 1000

def clear_account():
    account = 0   # 앗, 신규 지역 변수를 만든다
    
clear_account()
print(account)    # 1000 출력, 에러다!

1000

In [26]:
account = 1000

def clear_account():
    global account  # account를 지역 변수로 만들지 않는다
    account = 0      # 전역 변수를 0으로 설정한다!
    
clear_account()
print(account)    # 1000이 아닌 0 출력

0

## E.3.12 if 문

In [28]:
age = int(input('Enter your age: '))
if 12 < age < 20:
    print('You are a teenager.')

Enter your age: 19
You are a teenager.

In [29]:
age = int(input('Enter your age: '))
if age < 13:
    print('Hello, spring chicken!')
elif age < 20:
    print('You are a teenager.')
    print('Do not trust x, if x > 30.')
else:
    print('My, my. ')
    print('We are not getting any younger are we?')

Enter your age: 23
My, my.
We are not getting any younger are we?

## E.3.15 pass 문

In [30]:
class Dog:
    pass    # 이 클래스는 아직 메서드가 없다

## E.3.18 try 문

In [32]:
def div_me(x, y):
    try:
        quot = x / y
    except ZeroDivisionError as e:
        print('Bad division! Text:', e)
    
    else:
        print('Quotient is %s.' % quot)
    finally:
        print('Execution complete!')

In [33]:
div_me(2, 1)

Quotient is 2.0.
Execution complete!

In [34]:
div_me(2, 0)

Bad division! Text: division by zero
Execution complete!

In [35]:
div_me('2', '3')

Execution complete!

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [36]:
try:
    f = open('silly.txt', 'r')
    text = f.read()
    print(text)
except IOError as e:
    print('Problem opening file:', e)
except Execution as e:
    print('That was a Bozo no-no.')
    print('Error text:', e)

Problem opening file: [Errno 2] No such file or directory: 'silly.txt'

## E.3.19 while 문

In [37]:
n = 10
while n > 0:
    print(n, end=' ')
    n -= 1   # n에서 1을 감소시킨다.

10 9 8 7 6 5 4 3 2 1

In [38]:
n = 10
while n:
    print(n, end=' ')
    n -= 1 # n에서 1을 감소시킨다.

10 9 8 7 6 5 4 3 2 1

## E.3.20 with 문

In [40]:
with open('stuff.txt', 'r') as f:
    print(f.read())   # 파일 내용을 출력한다.

1 2 3 4
5 6 7 8