# 2.1 문자열은 불변이다

In [1]:
my_str = '예준아 안녕'
my_str[0] = '원'  # TypeError 발생

TypeError: 'str' object does not support item assignment

In [2]:
my_str = '안녕'
my_str = '안녕하세요'

# 2.2 바이너리를 포함한 숫자 변환

In [4]:
s = '45'
n = int(s)
x = float(s)
print(n, x)

45 45.0

In [5]:
n = int('10001', 2)
n

17

In [6]:
n1 = int('775', 8)
n2 = int('1E', 16)
print(n1, n2)

509 30

In [7]:
n = 1007
s = str(n)
print(n, '의 자릿수는', len(s), '이다.')

1007 의 자릿수는 4 이다.

# 2.3 문자열 연산자(+, =, *, >, 기타)

In [10]:
dog1_str = '멍멍이'
dog2_str = dog1_str

print(dog1_str == dog2_str)
print(dog1_str == '멍멍이')

True
True

In [11]:
def compare_no_case(str1, str2):
    return str1.casefold() == str2.casefold()

print(compare_no_case('cat', 'CAT'))

True

In [12]:
first = '윌리엄'
last = '셰익스피어'
full_name = first + ' ' + last
print(full_name)

윌리엄 셰익스피어

In [13]:
divider_str = '_' * 30
print(divider_str)

______________________________

# 2.4 인덱싱과 슬라이싱

In [14]:
s = '안녕하세요'
ch = s[0]
print(type(ch))

<class 'str'>

In [15]:
king_str = '"헨리 8세"'
new_str = king_str[1:-1]
print(new_str)

헨리 8세

In [16]:
a_str = 'RoboCop'
b_str = a_str[1::2]
print(b_str)

ooo

In [17]:
a_str = 'AbcDefGhiJklNop'
b_str = a_str[::3]
print(b_str)

ADGJN

In [19]:
def reverse_str(s):
    return s[::-1]

print(reverse_str('Wow Bob wow!'))
print(reverse_str('Racecar'))

!wow boB woW
racecaR

In [20]:
a_str = 'cat'
b_str = a_str[10:20]  # 빈 문자열 대입

# 2.5 단일-문자 함수(문자 코드)

In [21]:
print(ord('A'))
print(chr(65))

65
A

In [24]:
s = 'elephant'
if s[0] in 'aeiou':
    print('첫 문자가 모음이군요.')
else:
    print('첫 문자가 자음이군요.')

첫 문자가 모음이군요.

In [25]:
s = 'elephant'
if s[0] in 'aeiouAEIOU':
    print('첫 문자가 모음이군요.')

첫 문자가 모음이군요.

In [26]:
s = 'elephant'
if s[0].upper() in 'AEIOU':
    print('첫 문자가 모음이군요.')

첫 문자가 모음이군요.

In [27]:
'bad' in 'a bad dog'

True

In [28]:
print('' in 'cat')
print([] in [1, 2, 3])

True
False

In [30]:
s = 'Cat'
for ch in s:
    print(ch, ', type:', type(ch))

C , type: <class 'str'>
a , type: <class 'str'>
t , type: <class 'str'>

In [31]:
s = 'Cat'
for ch in s:
    print(ord(ch), end=' ')

67 97 116

# 2.6 'join'을 사용하여 만든 문자열

In [33]:
a_str = 'Big '
a_str = a_str + 'Bad '
a_str = a_str + 'John'
print(a_str)

Big Bad John

In [35]:
a_str = 'Big '
a_str += 'Bad '
a_str += 'John'
print(a_str)

Big Bad John

In [38]:
n = ord('A')
s = ''
for i in range(n, n + 26):
    s += chr(i)
s

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [39]:
n = ord('A')
a_lst = []
for i in range(n, n + 26):
    a_lst.append(chr(i))
s = ''.join(a_lst)
s

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [40]:
def print_nice(a_lst):
    s = ''
    for item in a_lst:
        s += item + ', '
    if len(s) > 0:
        s = s[:-2]
    print(s)

print_nice(['John', 'Paul', 'George', 'Ringo'])

John, Paul, George, Ringo

In [41]:
def print_nice(a_lst):
    print(', '.join(a_lst))
    
print_nice(['John', 'Paul', 'George', 'Ringo'])

John, Paul, George, Ringo

# 2.7 주요 문자열 함수

In [42]:
dog1 = 'Jaxx'
dog2 = 'Cutie Pie'
print(dog1, 'has', len(dog1), 'letters.')
print(dog2, 'has', len(dog2), 'letters.')

Jaxx has 4 letters.
Cutie Pie has 9 letters.

In [1]:
a_str = ''.join(reversed('Wow,Bob,wow!'))
print(a_str)
b_str = ''.join(sorted('Wow,Bob,wow!'))
print(b_str)

!wow,boB,woW
!,,BWbooowww

# 2.8 이진수와 10진수, 16진수 변환 함수

In [2]:
print(bin(10), oct(10), hex(10))  # 이진수, 8진수, 16진수로 변환

0b1010 0o12 0xa

# 2.9 간단한 불리언('is') 메서드

In [11]:
h_str = 'Hello'
if h_str[0].isupper():
    print('First letter is uppercase.')
if h_str.isupper():
    print('All chars are uppercase.')
else:
    print('Not all chars are uppercases.')
if h_str.istitle():
    print('Qualifies as a title.')

First letter is uppercase.
Not all chars are uppercases.
Qualifies as a title.

# 2.10 대소문자 변환 메소드

In [12]:
my_str = "I'm Henry VIII, I am!"
my_str = my_str.upper()
my_str

"I'M HENRY VIII, I AM!"

In [14]:
my_str = "I'm Henry VIII, I am!"
my_str = my_str.swapcase()
my_str

"i'M hENRY viii, i AM!"

# 2.11 검색 - 교체 메소드

In [19]:
# 로마 숫자를 10진수로 변환하는 프로그램에서 M으로 시작하는 로마 숫자가 입력된 문자열의 첫부분에 등장하는지 확인하는 코드
romstr = '~ 로마 숫자가 입력된 문자열 ~'
while romstr.startswith('M'):
    amt += 1000
    romstr = romstr[1:]

In [20]:
me_str = 'John Bennett, PhD'
is_doc = me_str.endswith('PhD')

In [23]:
frank_str = 'doo be doo be doo...'
print(frank_str.count('doo'))
print(frank_str.count('doo', 1))     # 1에서 시작
print(frank_str.count('doo', 1, 10)) # 1에서 시작, 10에서 끝

3
2
1

In [25]:
print(frank_str.find('doo'))
print(frank_str.find('doob')) # 발견 x

0
-1

In [28]:
# doo가 나오는 위치 모두 출력
n = -1
while True:
    n = frank_str.find('doo', n + 1)
    if n == -1:
        break
    print(n, end = ' ')

0 7 14

In [29]:
print(frank_str.rfind('doo'))  # 오른쪽 끝에서부터 탐색

14

In [30]:
title = '25 Hues of Grey'
new_title = title.replace('Grey', 'Gray')
new_title

'25 Hues of Gray'

In [32]:
title = 'Greyer Into Grey'
new_title = title.replace('Grey', 'Gray')
new_title

'Grayer Into Gray'

# 2.12 'split'을 활용한 문자열 쪼개기

In [33]:
stooge_list = 'Moe Larry Curly Shemp'.split()
stooge_list

['Moe', 'Larry', 'Curly', 'Shemp']

In [34]:
stooge_list = 'Moe    Larry Curly   Shemp'.split(' ')
stooge_list

['Moe', '', '', '', 'Larry', 'Curly', '', '', 'Shemp']

In [35]:
stooge_list = 'Moe, Larry, Curly, Shemp'.split(', ')
stooge_list

['Moe', 'Larry', 'Curly', 'Shemp']

In [36]:
stooge_list = 'Moe, Larry, Curly, Shemp'.split(',')
stooge_list

['Moe', ' Larry', ' Curly', ' Shemp']

# 2.13 앞뒤 문자 제거하기

In [37]:
name_str = '   Will Shakes   '
print(name_str.strip())

Will Shakes

# 2.14 자리 맞춤 메서드

In [38]:
new_str = 'Help!'.center(10, '#')
print(new_str)

##Help!###

In [39]:
new_str = '750'.rjust(6, '0')
print(new_str)

000750

In [40]:
s = '12'
print(s.zfill(7))

0000012

In [42]:
print('-3'.zfill(5))
print('-3'.rjust(5, '0'))

-0003
000-3