# 3.1 파이썬 리스트 생성 및 활용

In [1]:
my_int_list = [5, -20, 5, -69]
beat_list = ['John', 'Paul', 'George', 'Ringo']
mixed_list = [10, 'John', 5, 'Paul']

In [4]:
num_list = [3, 2, 17, 2.5]
num_list.sort()
num_list

[2, 2.5, 3, 17]

In [7]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)
my_list.remove(1)
print(my_list)

[1, 2, 3]
[2, 3]

In [9]:
the_scores = [1.0, 1.0, 9.8, 1.0]
the_scores.remove(1.0)
the_scores

[1.0, 9.8, 1.0]

# 3.2 리스트 복사 vs 리스트 변수 복사

In [11]:
a_list = [2, 5, 10]
b_list = a_list  # 참조

b_list.append(100)
b_list.append(200)
b_list.append(1)
print(a_list)

[2, 5, 10, 100, 200, 1]

In [12]:
my_list = [1, 10, 5]
yr_list = my_list[:] # 항목 간 복사

# 3.3 인덱스

In [13]:
my_list = [100, 500, 1000]
my_list[0]

100

In [14]:
my_list[1] = 55

## 3.3.1 양수 인덱스

In [17]:
a_list = [100, 200, 300, 400, 500, 600]
print(a_list[0], a_list[1], a_list[2], sep = '\n')

100
200
300

## 3.3.2 음수 인덱스

In [18]:
print(a_list[-1], a_list[-3], sep = '\n')

600
400

## 3.3.3 enumerate 함수로 인덱스 숫자 생성

In [19]:
a_list = ['Tom', 'Dick', 'Jane']

for s in a_list:
    print(s)

Tom
Dick
Jane

In [20]:
for i in range(len(a_list)):
    print(a_list[i])

Tom
Dick
Jane

In [21]:
list(enumerate(a_list, 1))

[(1, 'Tom'), (2, 'Dick'), (3, 'Jane')]

In [23]:
for item_num, name_str in enumerate(a_list, 1):
    print(item_num, '. ', name_str, sep='')

1. Tom
2. Dick
3. Jane

# 3.4 조각으로부터 데이터 가져오기

In [24]:
a_list = [1, 2, 5, 10, 20, 30]
b_list = a_list[1:3]
c_list = a_list[4:]
d_list = a_list[-4:-1]
e_list = a_list[-1:]
print(b_list, c_list, d_list, e_list, sep='\n')

[2, 5]
[20, 30]
[5, 10, 20]
[30]

In [26]:
a_list = [100, 200, 300, 400, 500, 600]
b_list = a_list[2:5:2]
print(b_list)

[300, 500]

In [27]:
rev_list = a_list[::-1]
print(rev_list)

[600, 500, 400, 300, 200, 100]

# 3.5 조각 안에 값 대입하기

In [29]:
my_list = [10, 20, 30, 40, 50, 60]
my_list[1:4] = [707, 777]
print(my_list)

[10, 707, 777, 50, 60]

In [1]:
my_list = [1, 2, 3, 4]
my_list[0:0] = [-50, -40]
print(my_list)

[-50, -40, 1, 2, 3, 4]

# 3.6 리스트 연산자

In [2]:
a_list = [1, 3, 5, 0, 2]
b_list = a_list    # 별칭 생성
c_list = a_list[:] # 항목 간 복사

In [3]:
big_array = [0] * 1000

In [4]:
a = [1, 2, 3]
print(None in a)
print([] in a)

False
False

In [5]:
b = [1, 2, 3, [], None]
print(None in b)
print([] in b)

True
True

# 3.7 얕은 복사 vs 깊은 복사

In [7]:
a_list = [1, 2, [5, 10]]
b_list = a_list[:]  # 항목 간 복사로 깊은 복사를 시도했으나, 내부 리스트는 그 참조가 복사됨

b_list[0] = 0
b_list[1] = 0
b_list[2][0] = 0
b_list[2][1] = 0

print(a_list)
print(b_list)

[1, 2, [0, 0]]
[0, 0, [0, 0]]

In [1]:
import copy

a_list = [1, 2, [5, 10]]
b_list = copy.deepcopy(a_list)  # 깊은 복사로 복제본 만들기

# 3.8 리스트 함수

In [2]:
a_list = [1, 2, 3, 4, 5]
for i in range(len(a_list)):
    a_list[i] *= 2

In [3]:
a_list = [100, -3, -5, 120]
print('Length of the list is', len(a_list))
print('Max and min are', max(a_list), min(a_list))

Length of the list is 4
Max and min are 120 -5

In [4]:
a_tup = (30, 55, 15, 45)
print(sorted(a_tup))

[15, 30, 45, 55]

In [7]:
a_tup = (1, 3, 5, 0)
for i in reversed(a_tup):
    print(i, end=' ')
print()
print(tuple(reversed(a_tup)))

0 5 3 1
(0, 5, 3, 1)

In [8]:
num_list = [2.45, 1, -10, 55.5, 100.03, 40, -3]
print('The average is ', sum(num_list) / len(num_list))

The average is  26.56857142857143

 # 3.9 리스트 메서드: 리스트 수정하기

In [10]:
a_list = [1, 2, 3]
a_list.append(4)
a_list.extend([4]) # 윗 줄과 똑같이 동작
a_list.extend([4, 5, 6])
print(a_list)

[1, 2, 3, 4, 4, 4, 5, 6]

In [11]:
a_list = [10, 20, 40]
a_list.insert(2, 30)
print(a_list)
a_list.insert(100, 33)
print(a_list)
a_list.insert(-100, 44)
print(a_list)

[10, 20, 30, 40]
[10, 20, 30, 40, 33]
[44, 10, 20, 30, 40, 33]

In [13]:
my_list = [15, 25, 15, 25]
my_list.remove(25)
print(my_list)

[15, 15, 25]

In [14]:
def eval_scores(a_list):
    a_list.remove(max(a_list))
    a_list.remove(min(a_list))
    return sum(a_list) / len(a_list)

the_scores = [8.5, 6.0, 8.5, 8.7, 9.9, 9.0]
print(eval_scores(the_scores))

8.675

# 3.10 리스트 메서드: 내용 정보 가져오기

In [15]:
yr_list = [1 ,2, 1, 1, [3, 4]]
print(yr_list.count(1))
print(yr_list.count(2))
print(yr_list.count(3))
print(yr_list.count([3, 4]))

3
1
0
1

In [17]:
beat_list = ['John', 'Paul', 'George', 'Ringo']
print(beat_list.index('Ringo'))

3

# 3.11 리스트 메서드: 재편성하기

In [18]:
def main():
    my_list = []
    while True:
        s = input('Enter next name: ')
        if len(s) == 0:
            break
        my_list.append(s)
    my_list.sort()
    print('Here is the sorted list:')
    for a_word in my_list:
        print(a_word, end=' ')

main()

Enter next name: ss
Enter next name:
Here is the sorted list:
ss

In [19]:
def ignore_case(s):
    return s.casefold()

a_list = ['john', 'paul', 'George', 'brian', 'Ringo']
b_list = a_list[:]
a_list.sort()
b_list.sort(key=ignore_case)
print(a_list)
print(b_list)

['George', 'Ringo', 'brian', 'john', 'paul']
['brian', 'George', 'john', 'paul', 'Ringo']

In [23]:
my_list = ['Brian', 'John', 'Paul', 'George', 'Ringo']
my_list.reverse()
for a_word in my_list:
    print(a_word, end=' ')

Ringo George Paul John Brian

# 3.12 스택 역할을 하는 리스트: RPN 애플리케이션

In [1]:
# 후위 계산 프로그램

the_stack = []

def push(v):
    the_stack.append(v)
    
def pop():
    return the_stack.pop()

def main():
    s = input('Enter RPN string: ')
    a_list = s.split()
    for item in a_list:
        if item in '+-*/':
            op2 = pop()
            op1 = pop()
            if item == '+':
                push(op1 + op2)
            elif item == '-':
                push(op1 - op2)
            elif item == '*':
                push(op1 * op2)
            else:
                push(op1 / op2)
        else:
            push(float(item))
    print(pop())

main()

Enter RPN string: 10 5 * 7 3 + /
5.0

# 3.13 reduce 함수

In [2]:
import functools

In [3]:
def add_func(a, b):
    return a + b

def mul_func(a, b):
    return a * b

n = 5
a_list = list(range(1, n + 1))

triangle_num = functools.reduce(add_func, a_list)
fac_num = functools.reduce(mul_func, a_list)
print(triangle_num)
print(fac_num)

15
120

# 3.14 람다 함수

In [4]:
my_f = lambda x, y: x + y

sum1 = my_f(3, 7)
sum2 = my_f(10, 15)
print(sum1, sum2)

10 25

In [7]:
t5 = functools.reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])
f5 = functools.reduce(lambda x, y: x * y, [1, 2, 3, 4, 5])
print(t5, f5)

15 120

# 3.15 리스트 함축

In [8]:
b_list = []
for i in a_list:
    b_list.append(i * i)

In [9]:
b_list = [i * i for i in a_list]

In [10]:
mult_list = []
for i in range(3):
    for j in range(3):
        mult_list.append(i * j)

In [11]:
mult_lst = [i * j for i in range(3) for j in range(3)]

In [12]:
my_list = [10, -10, -1, 12, -500, 13, 15, -3]

new_list = []
for i in my_list:
    if i > 0:
        new_list.append(i)

In [13]:
new_list = [i for i in my_list if i > 0]

In [14]:
neg_list = [i for i in my_list if i < 0]

# 3.16 딕셔너리와 세트의 함축

In [15]:
a_list = [5, 5, 5, -20, 2, -1, 2]
my_set = set()
for i in a_list:
    if i > 0:
        my_set.add(i)

In [16]:
my_set = {i for i in a_list if i > 0}

In [17]:
my_set = {i * i for i in a_list if i > 0}

In [20]:
vals_list = [ ('pi', 3.14), ('phi', 1.618)]
my_dict = {i[0]: i[1] for i in vals_list}
my_dict['pi']

3.14

In [21]:
keys = ['Bob', 'Carol', 'Ted', 'Alice']
vals = [4.0, 4.0, 3.75, 3.9]
grade_dict = {keys[i]: vals[i] for i in range(len(keys))}
print(grade_dict)

{'Bob': 4.0, 'Carol': 4.0, 'Ted': 3.75, 'Alice': 3.9}

In [22]:
phone_dict = {'Kim':'010-1234-1234'}
idict = {v:k for k, v in phone_dict.items()}
print(idict)

{'010-1234-1234': 'Kim'}

# 3.17 리스트를 통한 인수 전달하기

In [23]:
def set_list_vals(list_arg):
    list_arg[0] = 100
    list_arg[1] = 200
    list_arg[2] = 150

a_list = [0, 0, 0]
set_list_vals(a_list)
print(a_list)

[100, 200, 150]

In [24]:
def set_list_vals(list_args):
    list_arg = [100, 200, 150]

a_list = [0, 0, 0]
set_list_vals(a_list)
print(a_list)

[0, 0, 0]

# 3.18 다차원 리스트

In [25]:
weird_list = [[1, 2, 3], 'John', 'George']

In [27]:
mat = [[10, 11, 21], [20, 21, 22], [25, 15, 15]]

## 3.18.1 불균형 행렬

In [28]:
weird_mat = [[1, 2, 3, 4], [0, 5], [9, 8 ,3]]

print(len(weird_mat))
print(len(weird_mat[0]))
print(len(weird_mat[1]))
print(len(weird_mat[2]))

3
4
2
3

## 3.18.2 제멋대로 큰 행렬 만들기

In [29]:
mat = []
for i in range(200):
    mat.append([0] * 100)

mat[150][87] = 3.1415792

In [30]:
mat = [[0] * 100 for i in range(200)]

In [31]:
mat2 = [[0] * 25 for _ in range(30)]

In [32]:
mat2 = [[[0] * 25   for _ in range(20)] 
                    for _ in range(30)]

In [33]:
mat2 = [[[[0] * 25   for _ in range(20)] 
                    for _ in range(30)]
                    for _ in range(10)]