# 4.2 22가지 프로그래밍 지름길

## 4.2.1 필요하다면 코드를 여러 줄에 걸쳐 작성한다

In [4]:
my_str = 'I am Hen-er-y the Eighth, ' 'I am!'
print(my_str)

I am Hen-er-y the Eighth, I am!

In [5]:
my_str = 'I am Hen-er-y the Eighth, '\
'I am!'
print(my_str)

I am Hen-er-y the Eighth, I am!

In [6]:
my_str = ('I am Hen-er-y the Eighth, ' 
'I am! I am not just any Henry VIII, '
'I really I am!')
print(my_str)

I am Hen-er-y the Eighth, I am! I am not just any Henry VIII, I really I am!

## 4.2.2 for 루프는 현명하게 사용한다

In [7]:
# 안 좋은 예시 - range와 인덱스를 이용하는 C언어 스타일의 for 루프
beat_list = ['John', 'Paul', 'George', 'Ringo']
for i in range(len(beat_list)):
    print(beat_list[i])

John
Paul
George
Ringo

In [8]:
# 추천방식 1
beat_list = ['John', 'Paul', 'George', 'Ringo']
for guy in beat_list:
    print(guy)

John
Paul
George
Ringo

In [10]:
# 추천방식 2 - enumerate 함수 사용
beat_list = ['John', 'Paul', 'George', 'Ringo']
for i, name in enumerate(beat_list, 1):
    print(i, '. ', name, sep='')

1. John
2. Paul
3. George
4. Ringo

In [11]:
# 인덱스를 사용하지 않고 변수 값 변경을 시도하는 경우 - 신규 객체가 생성되어 대입되며 기존 객체의 값은 변경되지 않음
beat_list = ['John', 'Paul', 'George', 'Ringo']
for guy in beat_list:
    guy = 'Chris'
print(beat_list)

['John', 'Paul', 'George', 'Ringo']

## 4.2.3 대입 연산자 조합을 이해한다

In [12]:
s1 = s2 = 'A string'
s1 += '...with more stuff'
print('s1:', s1)
print('s2:', s2)

s1: A string...with more stuff
s2: A string

In [13]:
a_list = b_list = [10, 20]
a_list += [30, 40]
print('a_list:', a_list)
print('b_list:', b_list)

a_list: [10, 20, 30, 40]
b_list: [10, 20, 30, 40]

In [14]:
str_list = []
n = ord('a')
for i in range(n, n + 26):
    str_list += chr(i)
alphabet_str = ''.join(str_list)
print(alphabet_str)

abcdefghijklmnopqrstuvwxyz

## 4.2.4 다중 대입을 사용한다

In [15]:
a = b = c = d = e = 0
a is b

True

 ## 4.2.5 튜플 대입을 사용한다

In [16]:
a, b = 1, 0
a = 4, 8, 12

In [18]:
def fibo(n):
    a, b = 1, 0
    
    while a <= n:
        print(a, end=' ')
        a, b = a + b, a

In [19]:
x, y = 1, 25
print(x, y)
x, y = y, x
print(x, y)

1 25
25 1

## 4.2.6 고급 튜플 대입을 사용한다

In [20]:
tup = 10, 20, 30
a, b, c = tup
print(a, b, c)

10 20 30

In [21]:
my_tup = (3, ) # 한 항목을 가진 튜플 생성

In [24]:
a, *b = 2, 4, 6, 8
print(a, b)

2 [4, 6, 8]

In [25]:
a, *b, c = 10, 20, 30, 40, 50
print(a, b, c)

10 [20, 30, 40] 50

In [27]:
big, bigger, *many = 100, 200, 300, 400, 500
print(big, bigger, many, sep='\n')

100
200
[300, 400, 500]

## 4.2.7 리스트와 문자열 '곱하기'를 사용한다

In [28]:
my_list = [0] * 10000
len(my_list)

10000

In [29]:
my_list = 1999 * [2]
len(my_list)

1999

In [30]:
trip_list = [1, 2, 3] * 100
len(trip_list)

300

In [31]:
divider_str = '_' * 40
print(divider_str)

________________________________________

## 4.2.8 다중 값을 반환한다

In [32]:
def double_me(n):
    return n * 2

a = 10
a = double_me(a)
a

20

In [34]:
def quad(a, b, c):
    determin = (b * b - 4 * a * c) ** .5
    x1 = (-b + determin) / (2 * a)
    x2 = (-b - determin) / (2 * a)
    return x1, x2

x1, x2 = quad(1, -1, -1)
x = quad(1, -1, -1)
print(x1, x2)
print(x)

1.618033988749895 -0.6180339887498949
(1.618033988749895, -0.6180339887498949)

## 4.2.9 루프와 else 키워드를 사용한다

In [37]:
def find_divisor(n, max):
    for i in range(2, max + 1):
        if n % i == 0:
            print(i, 'divides evenly into', n)
            break
    else:
        print("No divisor found")
find_divisor(49, 6)
find_divisor(49, 7)

No divisor found
7 divides evenly into 49

## 4.2.10 불리언과 'not'의 이점을 활용한다

In [39]:
my_str = ''
if len(my_str) == 0:
    print('break')
    
# 위 표현을 다음과 같이 표현할 수 있다
if not my_str:
    print('break')

break
break

## 4.2.11 문자열은 문자의 나열로 다룬다

In [40]:
test_str = input('Enter test string: ')
a_list = [c.upper() for c in test_str if c.isalnum()]
print(a_list == a_list[::-1])

Enter test string: A man, A plan, a canal, Panama!
True

## 4.2.12 replace를 사용하여 문자를 제거한다

In [41]:
s = '1 / 2'
s = s.replace(' ', '')

In [43]:
a_list = [c for c in s if c not in 'aeiou']
s = ''.join(a_list)

## 4.2.13 필요없는 루프는 사용하지 않는다

In [44]:
def calc_triangle_num(n):
    return sum(range(n+1))

In [45]:
def get_avg(a_list):
    return sum(a_list) / len(a_list)

## 4.2.14 연결된 비교 연산자를 사용한다

In [47]:
x = 1
if 0 < x < 100:
    print('x is in range.')

x is in range.

In [48]:
a, b, c = 5, 10, 15
if 0 < a <= c > b > 1:
    print('All these comparisons are true!')
    print('c is equal or greater than all the rest!')

All these comparisons are true!
c is equal or greater than all the rest!

In [49]:
a = b = c = d = e = 100
if a == b == c == d == e:
    print('All the variables are equal to each other.')

All the variables are equal to each other.

In [51]:
a_list = [5, 5, 5, 5]
if min(a_list) == max(a_list):
    print('All the elements are equal to each other')

All the elements are equal to each other

## 4.2.15 함수 테이블(리스트, 딕셔너리)로 switch 문을 모방한다

In [55]:
"""
if n == 1:
    do_plot(stockdf)
elif n == 2:
    do_highlow_plot(stockdf)
elif n == 3:
    do_volume_subplot(stockdf)
elif n == 4:
    do_movingavg_plot(stockdf)
"""

# 위 코드는 다음과 같이 변형할 수 있다.
"""
fn = [do_plot, do_highlow_plot, do_volume_subplot, do_movingavg_plot][n-1]
fn(stockdf)
"""

In [57]:
"""
menu_dict = {'load':load_fn, 'save':save_fn, 'exit':exit_fn, 'update', update_fn}
(menu_dict[selector])()  # 함수 호출
"""

## 4.2.16 is 연산자는 정확하게 사용한다

In [59]:
a = 'cat'
b = 'cat'
a == b

True

In [60]:
s1 = 'I am what I am and that is all that I am'
s2 = 'I am what I am' + ' and that is all that I am'
print(s1 == s2)
print(s1 is s2)

True
False

In [61]:
"""
a_value = my_function()
if a_value is None:
    # 특별한 행동
"""

## 4.2.17 단일 행 for 루프를 사용한다

In [62]:
for i in range(10): print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## 4.2.18 여러 문장을 하나의 행으로 줄인다

In [64]:
for i in range(5): n = i * 2; m = 5; print(n+m, end=' ')

5 7 9 11 13

In [65]:
a = 1; b = 2; c = a + b; print(c)

3

## 4.2.19 단일 행 if/then/else 문을 작성한다

In [67]:
turn = 0
# ...
if turn % 2:
    cell = 'x'
else:
    cell = 'O'

In [68]:
cell = 'X' if turn % 2 else 'O'

## 4.2.20 range와 enum을 생성한다

In [69]:
red = 0
blue = 1
green = 2
black = 3
white = 4

In [70]:
red, blue, green, black, white = range(5)

In [71]:
red, blue, green, black, white = range(1, 6)

## 4.2.21 IDLE 안에서 비효율적인 print 함수 사용을 줄인다

In [78]:
for i in range(20):
    for j in range(40):
        print('*', end='')
    print()

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [72]:
row_of_asterisks = '*' * 40
for i in range(20):
    print(row_of_asterisks)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [77]:
row_of_asterisks = '*' * 40
s = ''
for i in range(20):
    s += row_of_asterisks + '\n'
print(s)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [79]:
row_of_asterisks = '*' * 40
list_of_str = []
for i in range(20):
    list_of_str.append(row_of_asterisks)
print('\n'.join(list_of_str))

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [80]:
print('\n'.join(['*' * 40] * 20))

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

## 4.2.22 큰 번호 안에 언더스코어(_)를 넣는다

In [1]:
CEO_salary = 1500000
CEO_salary = 1_500_000

# 4.4 doc string 작성하고 사용하기

In [2]:
def quad(a, b, c):
    ''' Quadratic Formula function
    
    This function applies the Quadratic Formula
    to determine the roots of x in a quadratic
    equation of the form ax^2 + bx + c = 0.
    '''
    
    determin = (b * b - 4 *a * c) **.5
    x1 = (-b + determin) / (2 * a)
    x2 = (-b - determin) / (2 * a)
    return x1, x2

In [3]:
help(quad)

Help on function quad in module __main__:

quad(a, b, c)
    Quadratic Formula function

    This function applies the Quadratic Formula
    to determine the roots of x in a quadratic
    equation of the form ax^2 + bx + c = 0.

# 4.5 패키지 탑재하기

In [4]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [5]:
math.sqrt(2)

1.4142135623730951

In [8]:
math.atan(1) * 4

3.141592653589793

In [7]:
math.pi

3.141592653589793

In [9]:
import matplotlib.pyplot as plt

In [10]:
from math import pi
print(pi)

3.141592653589793

In [11]:
from math import *
print(pi)
print(sqrt(2))

3.141592653589793
1.4142135623730951

# 4.7 일급 객체인 함수

In [14]:
def avg(a_list):
    '''리스트 항목들의 평균값을 반환한다'''
    x = (sum(a_list) / len(a_list))
    print('The average is:', x)
    return x

type(avg)

function

In [15]:
def new_func(a_list):
    return (sum(a_list) / len(a_list))

old_avg = avg
avg = new_func

old_avg([4, 6])

The average is: 5.0

5.0

In [17]:
def func_info(func):
    print('Function name:', func.__name__)
    print('Function documentation:')
    help(func)
    
func_info(old_avg)

Function name: avg
Function documentation:
Help on function avg in module __main__:

avg(a_list)
    리스트 항목들의 평균값을 반환한다

# 4.8 가변 길이 인수 리스트

## 4.8.1 *args 리스트

In [3]:
def my_var_func(*args):
    print('The number of args is', len(args))
    for item in args:
        print(item)

In [4]:
my_var_func(10, 20, 30, 40)

The number of args is 4
10
20
30
40

In [5]:
def avg(*args):
    return sum(args) / len(args)

print(avg(11, 22, 33))
print(avg(1, 2))

22.0
1.5

In [6]:
def avg(units, *args):
    print(sum(args)/len(args), units)
    
avg('inches', 11, 22, 33)

22.0 inches

## 4.8.2 **kwargs 리스트

In [7]:
def pr_named_vals(**kwargs):
    for k in kwargs:
        print(k, ':', kwargs[k])
        
pr_named_vals(a=10, b=20, c=30)

a : 10
b : 20
c : 30

In [9]:
def pr_vals_2(*args, **kwargs):
    for i in args:
        print(i)
    for k in kwargs:
        print(k, ':', kwargs[k])

pr_vals_2(1, 2, 3, -4, a=100, b=200)

1
2
3
-4
a : 100
b : 200

# 4.9 데코레이터와 함수 프로파일러

In [9]:
import time

def make_timer(func):
    def wrapper(*args, **kwargs):
        t1 = time.time()
        ret_val = func(*args, **kwargs)
        t2 = time.time()
        print('소요 시간 :', t2 - t1)
        return ret_val
    return wrapper

def count_nums(n):
    for i in range(n):
        for j in range(1000):
            pass
        
count_nums = make_timer(count_nums)
count_nums(33000)

소요 시간 : 0.7099976539611816

In [11]:
@make_timer
def count_nums(n):
    for i in range(n):
        for j in range(1000):
            pass
        
count_nums(33000)

소요 시간 : 0.6829962730407715

# 4.10 제너레이터

## 4.10.1 이터레이터란 무엇인가?

In [12]:
iter1 = reversed([1, 2, 3, 4])
print(iter1)

<list_reverseiterator object at 0x0000025FF3069E08>

In [13]:
print(list(iter1))

[4, 3, 2, 1]

In [17]:
iter1 = reversed([1, 2, 3, 4])
for i in iter1:
    print(i, end=' ')

4 3 2 1

## 4.10.2 제너레이터 소개

In [18]:
def print_evens():
    for n in range(2, 11, 2):
        print(n)

In [19]:
def make_evens_gen():
    for n in range(2, 11, 2):
        yield n
        
make_evens_gen()

In [20]:
my_gen = make_evens_gen()
next(my_gen)

2

In [21]:
next(my_gen)

4

In [22]:
next(my_gen)

6

In [23]:
my_gen = make_evens_gen()  # 다시 시작
next(my_gen)

2

In [24]:
my_gen = make_evens_gen()  # 다시 시작
next(my_gen)

2

In [25]:
for i in make_evens_gen():
    print(i, end=' ')

2 4 6 8 10

In [28]:
# make_evens_gen을 직접 참조하려 하면 에러가 발생한다.
for i in make_evens_gen:
    print(i, end=' ')

TypeError: 'function' object is not iterable

In [29]:
my_gen = make_evens_gen()
a_list = list(my_gen)
a_list

[2, 4, 6, 8, 10]

In [32]:
a_list = list(my_gen)  # 재설정해야한다
a_list

[]

In [35]:
my_gen = make_evens_gen()
a_list = list(my_gen)
a_list

[2, 4, 6, 8, 10]

In [36]:
a_list = list(make_evens_gen())
a_list

[2, 4, 6, 8, 10]

In [37]:
def make_fibo_gen(n):
    a, b = 1, 1
    while a <= n:
        yield a
        a, b = a + b, a

In [38]:
n = int(input('Enter number: '))
if n in make_fibo_gen(n):
    print('number is a Fibonacci.')
else:
    print('number is not a Fibonacci')

Enter number: 10
number is not a Fibonacci

In [39]:
n = int(input('Enter number: '))
my_fibo_gen = make_fibo_gen(n)
if n in my_fibo_gen:
    print('number is a Fibonacci. ')
else:
    print('number is not a Fibonacci. ')

Enter number: 21
number is a Fibonacci.