# 4.2 22가지 프로그래밍 지름길

## 4.2.1 필요하다면 코드를 여러 줄에 걸쳐 작성한다

In [4]:
my_str = 'I am Hen-er-y the Eighth, ' 'I am!'
print(my_str)

I am Hen-er-y the Eighth, I am!

In [5]:
my_str = 'I am Hen-er-y the Eighth, '\
'I am!'
print(my_str)

I am Hen-er-y the Eighth, I am!

In [6]:
my_str = ('I am Hen-er-y the Eighth, ' 
'I am! I am not just any Henry VIII, '
'I really I am!')
print(my_str)

I am Hen-er-y the Eighth, I am! I am not just any Henry VIII, I really I am!

## 4.2.2 for 루프는 현명하게 사용한다

In [7]:
# 안 좋은 예시 - range와 인덱스를 이용하는 C언어 스타일의 for 루프
beat_list = ['John', 'Paul', 'George', 'Ringo']
for i in range(len(beat_list)):
    print(beat_list[i])

John
Paul
George
Ringo

In [8]:
# 추천방식 1
beat_list = ['John', 'Paul', 'George', 'Ringo']
for guy in beat_list:
    print(guy)

John
Paul
George
Ringo

In [10]:
# 추천방식 2 - enumerate 함수 사용
beat_list = ['John', 'Paul', 'George', 'Ringo']
for i, name in enumerate(beat_list, 1):
    print(i, '. ', name, sep='')

1. John
2. Paul
3. George
4. Ringo

In [11]:
# 인덱스를 사용하지 않고 변수 값 변경을 시도하는 경우 - 신규 객체가 생성되어 대입되며 기존 객체의 값은 변경되지 않음
beat_list = ['John', 'Paul', 'George', 'Ringo']
for guy in beat_list:
    guy = 'Chris'
print(beat_list)

['John', 'Paul', 'George', 'Ringo']

## 4.2.3 대입 연산자 조합을 이해한다

In [12]:
s1 = s2 = 'A string'
s1 += '...with more stuff'
print('s1:', s1)
print('s2:', s2)

s1: A string...with more stuff
s2: A string

In [13]:
a_list = b_list = [10, 20]
a_list += [30, 40]
print('a_list:', a_list)
print('b_list:', b_list)

a_list: [10, 20, 30, 40]
b_list: [10, 20, 30, 40]

In [14]:
str_list = []
n = ord('a')
for i in range(n, n + 26):
    str_list += chr(i)
alphabet_str = ''.join(str_list)
print(alphabet_str)

abcdefghijklmnopqrstuvwxyz

## 4.2.4 다중 대입을 사용한다

In [15]:
a = b = c = d = e = 0
a is b

True

 ## 4.2.5 튜플 대입을 사용한다

In [16]:
a, b = 1, 0
a = 4, 8, 12

In [18]:
def fibo(n):
    a, b = 1, 0
    
    while a <= n:
        print(a, end=' ')
        a, b = a + b, a

In [19]:
x, y = 1, 25
print(x, y)
x, y = y, x
print(x, y)

1 25
25 1

## 4.2.6 고급 튜플 대입을 사용한다

In [20]:
tup = 10, 20, 30
a, b, c = tup
print(a, b, c)

10 20 30

In [21]:
my_tup = (3, ) # 한 항목을 가진 튜플 생성

In [24]:
a, *b = 2, 4, 6, 8
print(a, b)

2 [4, 6, 8]

In [25]:
a, *b, c = 10, 20, 30, 40, 50
print(a, b, c)

10 [20, 30, 40] 50

In [27]:
big, bigger, *many = 100, 200, 300, 400, 500
print(big, bigger, many, sep='\n')

100
200
[300, 400, 500]

## 4.2.7 리스트와 문자열 '곱하기'를 사용한다

In [28]:
my_list = [0] * 10000
len(my_list)

10000

In [29]:
my_list = 1999 * [2]
len(my_list)

1999

In [30]:
trip_list = [1, 2, 3] * 100
len(trip_list)

300

In [31]:
divider_str = '_' * 40
print(divider_str)

________________________________________

## 4.2.8 다중 값을 반환한다

In [32]:
def double_me(n):
    return n * 2

a = 10
a = double_me(a)
a

20

In [34]:
def quad(a, b, c):
    determin = (b * b - 4 * a * c) ** .5
    x1 = (-b + determin) / (2 * a)
    x2 = (-b - determin) / (2 * a)
    return x1, x2

x1, x2 = quad(1, -1, -1)
x = quad(1, -1, -1)
print(x1, x2)
print(x)

1.618033988749895 -0.6180339887498949
(1.618033988749895, -0.6180339887498949)

## 4.2.9 루프와 else 키워드를 사용한다

In [37]:
def find_divisor(n, max):
    for i in range(2, max + 1):
        if n % i == 0:
            print(i, 'divides evenly into', n)
            break
    else:
        print("No divisor found")
find_divisor(49, 6)
find_divisor(49, 7)

No divisor found
7 divides evenly into 49

## 4.2.10 불리언과 'not'의 이점을 활용한다

In [39]:
my_str = ''
if len(my_str) == 0:
    print('break')
    
# 위 표현을 다음과 같이 표현할 수 있다
if not my_str:
    print('break')

break
break

## 4.2.11 문자열은 문자의 나열로 다룬다

In [40]:
test_str = input('Enter test string: ')
a_list = [c.upper() for c in test_str if c.isalnum()]
print(a_list == a_list[::-1])

Enter test string: A man, A plan, a canal, Panama!
True

## 4.2.12 replace를 사용하여 문자를 제거한다

In [41]:
s = '1 / 2'
s = s.replace(' ', '')

In [43]:
a_list = [c for c in s if c not in 'aeiou']
s = ''.join(a_list)

## 4.2.13 필요없는 루프는 사용하지 않는다

In [44]:
def calc_triangle_num(n):
    return sum(range(n+1))

In [45]:
def get_avg(a_list):
    return sum(a_list) / len(a_list)

## 4.2.14 연결된 비교 연산자를 사용한다

In [47]:
x = 1
if 0 < x < 100:
    print('x is in range.')

x is in range.

In [48]:
a, b, c = 5, 10, 15
if 0 < a <= c > b > 1:
    print('All these comparisons are true!')
    print('c is equal or greater than all the rest!')

All these comparisons are true!
c is equal or greater than all the rest!

In [49]:
a = b = c = d = e = 100
if a == b == c == d == e:
    print('All the variables are equal to each other.')

All the variables are equal to each other.

In [51]:
a_list = [5, 5, 5, 5]
if min(a_list) == max(a_list):
    print('All the elements are equal to each other')

All the elements are equal to each other

## 4.2.15 함수 테이블(리스트, 딕셔너리)로 switch 문을 모방한다

In [55]:
"""
if n == 1:
    do_plot(stockdf)
elif n == 2:
    do_highlow_plot(stockdf)
elif n == 3:
    do_volume_subplot(stockdf)
elif n == 4:
    do_movingavg_plot(stockdf)
"""

# 위 코드는 다음과 같이 변형할 수 있다.
"""
fn = [do_plot, do_highlow_plot, do_volume_subplot, do_movingavg_plot][n-1]
fn(stockdf)
"""

In [57]:
"""
menu_dict = {'load':load_fn, 'save':save_fn, 'exit':exit_fn, 'update', update_fn}
(menu_dict[selector])()  # 함수 호출
"""

## 4.2.16 is 연산자는 정확하게 사용한다

In [59]:
a = 'cat'
b = 'cat'
a == b

True

In [60]:
s1 = 'I am what I am and that is all that I am'
s2 = 'I am what I am' + ' and that is all that I am'
print(s1 == s2)
print(s1 is s2)

True
False

In [61]:
"""
a_value = my_function()
if a_value is None:
    # 특별한 행동
"""

## 4.2.17 단일 행 for 루프를 사용한다

In [62]:
for i in range(10): print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## 4.2.18 여러 문장을 하나의 행으로 줄인다

In [64]:
for i in range(5): n = i * 2; m = 5; print(n+m, end=' ')

5 7 9 11 13

In [65]:
a = 1; b = 2; c = a + b; print(c)

3

## 4.2.19 단일 행 if/then/else 문을 작성한다

In [67]:
turn = 0
# ...
if turn % 2:
    cell = 'x'
else:
    cell = 'O'

In [68]:
cell = 'X' if turn % 2 else 'O'

## 4.2.20 range와 enum을 생성한다

In [69]:
red = 0
blue = 1
green = 2
black = 3
white = 4

In [70]:
red, blue, green, black, white = range(5)

In [71]:
red, blue, green, black, white = range(1, 6)

## 4.2.21 IDLE 안에서 비효율적인 print 함수 사용을 줄인다

In [78]:
for i in range(20):
    for j in range(40):
        print('*', end='')
    print()

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [72]:
row_of_asterisks = '*' * 40
for i in range(20):
    print(row_of_asterisks)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [77]:
row_of_asterisks = '*' * 40
s = ''
for i in range(20):
    s += row_of_asterisks + '\n'
print(s)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [79]:
row_of_asterisks = '*' * 40
list_of_str = []
for i in range(20):
    list_of_str.append(row_of_asterisks)
print('\n'.join(list_of_str))

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [80]:
print('\n'.join(['*' * 40] * 20))

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

## 4.2.22 큰 번호 안에 언더스코어(_)를 넣는다

In [81]:
CEO_salary = 1500000
CEO_salary = 1_500_000